<tables>
    <table name="rgi_wildcard" comment_char="#">
        <columns>value, name, wildcard_annotation, wildcard_annotation_all_models, wildcard_index, wildcard_version, card_version</columns>
        <file path="tool-data/rgi_wildcard.loc"/>
    </table>
</tables>
